[package]
name = "measureme"
version = "0.1.0"
authors = ["Wesley Wiser <wwiser@gmail.com>", "Michael Woerister <michaelwoerister@posteo>"]
edition = "2018"

[dependencies]
byteorder = "1.3"
rustc-hash = "1.0.1"

