[package]
name = "analyzeme"
version = "10.0.0"
authors = ["Wesley Wiser <wwiser@gmail.com>", "Michael Woerister <michaelwoerister@posteo>"]
edition = "2018"
license = "MIT OR Apache-2.0"

[dependencies]
decodeme = { path = "../decodeme" }
memchr = "2"
measureme = { path = "../measureme" }
rustc-hash = "1.0.1"

# Depending on older versions of this crate allows us to keep supporting older
# file formats.
analyzeme_9_2_0 = { package = "analyzeme", git = "https://github.com/rust-lang/measureme", tag = "9.2.0" }

[dev-dependencies]
flate2 = "1.0"
