name: Publish
on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust (rustup)
        run: rustup update stable && rustup default stable
      - name: Publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: |
          # Note: Order is important. Leaf packages need to be published first.
          cargo publish -p measureme
          cargo publish -p decodeme
          cargo publish -p analyzeme
